<h2>Learn Haskell</h2>

<div class="laed">Recommend Resources:</div>

<div class="list-group">
    <a href="http://learnyouahaskell.com/" class="list-group-item">
        <h4 class="list-group-item-heading">Learn You a Haskell for Great Good! Book</h4>
        <p class="list-group-item-text">The funkiest way to learn Haskell.</p>
    </a>
    <a href="https://www.haskell.org/" class="list-group-item">
        <h4 class="list-group-item-heading">www.Haskell.org</h4>
        <p class="list-group-item-text">An open source community effort for over 20 years.</p>
    </a>
</div>

@section CurrentPage{
    <strong>Learn -> Haskell -> Index</strong>
}