doctype
html
    head
        title Mobile Devices Store
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel= "stylesheet ")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", rel= "stylesheet ")
    body
    .wrapper
        .nav.navbar.navbar-nav
           .container
               .navbar-header
                   a.navbar-brand(href="/") Mobile Devices Store
               .navbar-collapse.collapse
                   ul.nav.navbar-nav
                       li
                           a(href="/") Home
                        li
                            a(href="/smartphones") Smart Phones
                        li
                            a(href="/tablets") Tablets
                        li
                            a(href="/wearables") Wearables

        br
        br
        block main-content
        
        div(style="clear: both; position: relative; z-index: 10; height: 3m; text-align: center; line-height: 3em;")
            | &copy; Copyright TelerikAcademy.com
      
    script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    
