input {
    width: 100px;
    height: 100px;
}

table {
    border: 1px solid black;
}

table td {
    border: 1px solid black;
}

#output {
    width: 100px;
    height: 100px;
    color: red;
    font-size: x-large;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#startOver {
    position: absolute;
    right: 47%;
}