<h2>Learn Python</h2>

<div class="laed">Recommend Resources:</div>

<div class="list-group">
    <a href="https://www.python.org/about/gettingstarted/" class="list-group-item">
        <h4 class="list-group-item-heading">Python Official Website</h4>
        <p class="list-group-item-text">A great place for references.</p>
    </a>
    <a href="http://learnpythonthehardway.org/book/" class="list-group-item">
        <h4 class="list-group-item-heading">Learn Python the Hard Way Book</h4>
        <p class="list-group-item-text">Read by 1.5 million people a year to learn the basics of programming.</p>
    </a>
</div>

@section CurrentPage{
    <strong>Learn -> Python -> Index</strong>
}