h1, h2
    text-align center


.img-container
    text-align center
    
    img
        width 350px
        height 250px
body
    background-color #5DB5F3
    
div.img
    margin 3%
    border 1px solid #ccc
    float left
    width 180px
    height 270px
    
div.img:hover
    border: 1px solid #777
    
div.img img
    width 100%
    height 200px
    
div.desc
    padding 15px
    text-align center
div.libs
    margin auto
    width 60%