<h2>Learn JavaScript</h2>

<div class="laed">Recommend Resources:</div>

<div class="list-group">
    <a href="https://developer.mozilla.org/en-US/Learn/JavaScript" class="list-group-item">
        <h4 class="list-group-item-heading">MDN - Learning the Web</h4>
        <p class="list-group-item-text">MDN Provides everything You need to know.</p>
    </a>
    <a href="http://telerikacademy.com/" class="list-group-item">
        <h4 class="list-group-item-heading">Telerik Academy</h4>
        <p class="list-group-item-text">Become a JavaScript Ninja.</p>
    </a>
</div>

@section CurrentPage{
    <strong>Learn -> Javascript -> Index</strong>
}